<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cletaeats_logo"
        android:roundIcon="@drawable/cletaeats_logo"
        android:label="CletaEats"
        android:theme="@style/Theme.CletaEats"
        android:usesCleartextTraffic="true"> <!-- Necesario para conectar a http://localhost:8080 -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CletaEats">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>